@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: #ffffff; overflow-x: hidden; /* Hide horizontal scrollbar */
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.navbar h2{
    color: #017A7B;
    font-weight: 600;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #434343;
    font-size: 18px;
    margin-right: 25px;
    transition: color 0.3s ease;
}

.navbar ul li:hover a{
    color: #017A7B;
}

.navbar ul li:last-child a{
    margin: 0;
}

.signin-btn{
    background: #ffffff;
    padding: 6px 40px;
    border: none;
    font-size: 16px;
    color: #017A7B;
    border: solid 1px #017A7B;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}
.signin-btn:hover{
    background: #017A7B;
    color: #ffffff;
}

.book-btn{
    background: #017A7B;
    padding: 6px 40px;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}
.book-btn:hover{
    background: #ffffff;
    color: #017A7B;
    border: solid 1px #017A7B;
}

.main{
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h4{
    font-size: 32px;
    color: #fff;
    font-weight: 600;
}

.main h4 span{
    color: #ffb742;
    text-decoration: underline;
}

.main p.title{
    font-size: 44px;
    font-weight: 600;
    color: #fff;
    margin-top: 8px;
}

.main p.subtitle{
    font-size: 16px;
    color: #ccc;
    margin-top: 20px;
}

.main img{
    width: 200px;
    height: 200px;
    margin-top: 100px;
}

.guarantee{
    margin-top: 80px;
    padding: 0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
}

.guarantee .item{
    background: #efeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: 0 30px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.guarantee .item:hover{
    border: solid 1px#025454;
}

.guarantee .item .icon{
    width: 46px;
    height: 46px;
    background: #fff;
    color: rgb(68, 68, 68);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.guarantee .item:hover .icon{
    background-color: #025454;
    color: white;
}

.guarantee .item .icon i{
    font-size: 30px;
}

.guarantee .item .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guarantee .item .info h3{
    color: #025454;
    font-size: 17px;
}

.guarantee .item .info p{
    color: rgb(68, 68, 68);
    font-size: 15px;
    font-weight: 600;
}

.guarantee .item > i{
    color: rgb(68, 68, 68);
    font-size: 30px;
    transition: color 0.3s ease;
}

.guarantee .item:hover > i{
    color: #025454;
}

.care {
    padding: 100px 50px 20px;
    height: 710px;
    background-color: #ffffff;
}

.care p {
    color: #494949;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: -15px;
    justify-content: center;
}

.care h2 {
    color: #025454;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    justify-content: center;
}



.seprator{
    margin: 50px 50px 30px;
    padding: 10px 20px;
    background: rgba(175, 117, 117, 0.08);
    display: inline-block;
    color: #ffb742;
    border-radius: 12px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding:  50px 80px 30px;
    background-color: #efeeee;
    
}

.about img{
    margin-top: 10px;
    width: 70vh;
    margin-right: 100px;
    
}

.about .info h3{
    color: #017A7B;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: -10px;
}

.about .info p{
    color: #494949;
    font-size: 16px;
}

.about .info button{
    margin-top: 30px;
}

.skills{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    margin-left: 50px;
}

.skills .left{
    width: 680px;
}

.skills .left .info h3{
    color: #434343;
    font-size: 70px;
    margin-bottom: 20px;
}

.skills .left .info p{
    color: #434343;
    font-size: 14px;
}

.skills .left button{
    margin-top: 30px;
}



.skills .right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}


.skills .right .item{
    display: flex;
    margin-top: -130px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.skills .right .item img{
    width: 700px;
    height: 700px;
}

.readmore-btn{
    padding: 6px 40px;
    border: none;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    background-color: #017A7B;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}
.readmore-btn:hover{
    background: #efeeee;
    color: #017A7B;
    border: solid 1px #017A7B;
}

.doctors {
    padding: 10px;
    height: 710px;
    background-color: #ffffff;
    margin-top: 80px;
}

.doctors p {
    color: #494949;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: -15px;
    justify-content: center;
}

.doctors h2 {
    color: #025454;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    justify-content: center;
}

.service-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.service-card {
    width: 300px;
    margin: 20px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

.service-card h3 {
    margin-top: 10px;
    color: #333;
}

.service-card p {
    color: #777;
    font-weight: 400;
    font-size: 13px;
}


.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
    margin-top: 1100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("assets/map.png") no-repeat center;
	background-size: cover;
	filter: blur(1px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.conleft{
	background: url("assets/contact.png") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #017A7B;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #017A7B;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #045656;
}

.field:focus{
    border: 2px solid #017A7B;
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

 #scrollTopBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
            background-color: #02adad; /* Button background color */
            color: #fff; /* Button text color */
            border: none;
            border-radius: 100%;
            padding: 10px;
            font-size: 20px;
            cursor: pointer;
 }


footer{
    position: relative;
    background: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: -10px;
}

footer .start{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    color: #fff;
    background-color: #017A7B;
    padding: 30px 25px;
    border-radius: 15px;
    width: 70%;
    top: -16%;
    left: 15%;
}

footer .start p{
    font-size: 13px;
    width: 35%;
}

footer .start button{
    background: transparent;
    border: 1px solid #ffffff;
    color: #fff;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 100px;
    transition: all 0.3s ease;
}

footer .start button:hover{
    background-color: #fff;
    color: #017A7B;
    border-color: #fff;
}

footer .cols{
    display: flex;
    align-items: start;
}

footer .cols .about-col{
    flex: 3;
}

footer .cols .about-col h3{
    color: #017A7B;
    margin-bottom: 20px;
}

footer .cols .about-col p{
    color: #ccc;
    font-size: 13px;
}

footer .cols .links-col{
    flex: 3;
}

footer .cols .links-col h4, footer .cols .news-col h4{
    color: #fff;
    margin-bottom: 20px;
}

footer .cols .links-col a{
    display: block;
    text-decoration: none;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover{
    color: #017A7B;
}

footer .cols .news-col{
    flex: 3;
}

footer .cols .news-col p{
    color: #7b7b7b;
    font-size: 15px;
}

footer .cols .news-col form{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

footer .cols .news-col form input{
    width: 100%;
    background: #212529;
    border: none;
    padding: 13px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 13px;
}

footer .cols .news-col form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #017A7B;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer .cols .news-col form button:hover{
    background-color: #017A7B;
}

footer .cols .news-col form button i{
    font-size: 26px;
}

@media screen and (max-width: 1100px) {
    .guarantee{
        flex-wrap: wrap;
        gap: 10px;
    }

    .guarantee .item{
        flex-basis: 49%;
    }

    .skills{
        justify-content: space-between;
        gap: 20px;
    }

    .skills .left{
        width: 500px;
    }

    .skills .left .info h3{
        font-size: 22px;
    }

    .skills .left .info p{
        font-size: 12px;
    }

    footer{
        margin-top: 150px;
    }

    footer .start{
        width: 90%;
        left: 5%;
        top: -20%;
    }

    footer .cols{
        flex-wrap: wrap;
    }

    footer .cols .about-col{
        flex-basis: 50%;
    }

    footer .cols .links-col{
        flex-basis: 50%;
    }

    footer .cols .news-col{
        flex-basis: 50%;
    }

}

@media screen and (max-width: 780px) {
    
    .navbar button{
        display: none;
    }

    .main h4{
        font-size: 24px;
    }

    .main p.title{
        font-size: 36px;
    }

    .main p.subtitle{
        font-size: 14px;
    }

    .guarantee .item{
        flex-basis: 100%;
    }

    .about{
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (max-width: 650px) {
    
    .navbar{
        justify-content: center;
    }

    .navbar h2{
        display: none;
    }

    .navbar ul li a{
        font-size: 14px;
    }

    .main{
        margin-top: 50px;
        height: 320px;
        justify-content: start;
    }

    .main h4{
        font-size: 20px;
    }

    .main p.title{
        font-size: 28px;
    }

    .main p.subtitle{
        font-size: 12px;
    }

    .main img{
        margin-top: 40px;
        width: 150px;
        height: 150px;
    }

    .skills{
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills .right{
        justify-content: space-between;
    }

    .skills .left .info h3{
        font-size: 20px;
    }

    footer .start{
        top: -8%;
    }

    footer .start p{
        display: none;
    }

    footer .cols .about-col{
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    footer .cols .links-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    footer .cols .news-col{
        flex-basis: 100%;
    }

}

@media screen and (max-width: 480px) {
    
    .main p.title{
        font-size: 18px;
    }

    .main p.subtitle{
        font-size: 10px;
    }

    .guarantee .item .info h3{
        font-size: 20px;
    }

    .guarantee .item .info p{
        font-size: 12px;
    }

}

